<li class="product-item">
  {{#link-to 'product' product.id}}
    <div class="product-image">
      <img class="product-thumbnail" src="{{product.image}}">
    </div>
    <h1>{{product.name}}</h1>
    <p>${{product.price}}</p>
  {{/link-to}}
  {{#if (array-contains shoppingCart.items this)}}
  <button {{action 'removeFromCart' product}}>Remove From Cart</button>
  {{else}}
  <button {{action 'addToCart' product}}>Add to Cart</button>
  {{/if}}
</li>
