<li class="sm-product-item">
  {{#link-to 'product' product.id}}
    <div class="sm-product-image">
      <img class="product-thumbnail" src="{{product.image}}">
    </div>
    <div class="sm-product-info">
      <h1>{{product.name}}</h1>
      <p>${{product.price}}</p>
      {{#if (array-contains shoppingCart.items this)}}
      <button {{action 'removeFromCart' product}}>Remove From Cart</button>
      {{else}}
      <button {{action 'addToCart' product}}>Add to Cart</button>
      {{/if}}
    </div>
  {{/link-to}}
</li>
